:root {
  --color-black: #000;
  --color-white: #fff;
  --color-accent: #396c8a;
  --color-accent-10: #E5ECF1;
  --color-dot: #fff;
  --color-transparent: rgba(255,255,255,0);

  --elevation-1: 0px 4px 4px 0px rgba(57, 108, 138, 0.12);
  --elevation-nav: drop-shadow(0px 2px 12px rgba(57, 108, 138, 0.9));

  --radius-1: 8px;

  --font-size-headline: 64px;
  --font-size-xl: 32px;
  --font-size-lg: 24px;
  --font-size-md: 20px;
  --font-size-sm: 16px;
  --font-size-xs: 10px;

  --font-family-primary: var(--font-jost);
  --font-family-secondary: var(--font-caslon);

  --dot-size: 3px;
  --dot-space: 36px;

}

html,
body {
  max-width: 100vw;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family-primary);
  color: var(--color-accent);
  background-image: url('../public/dot_grid_bg_noise.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transform: translate3d(0,0,0);
-webkit-transform: translate3d(0,0,0);
}

a {
  color: inherit;
  text-decoration: none;
}
