.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0 24px 128px 24px;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  padding: 16px 0;
}

.headline {
  text-transform: uppercase;
  text-align: center;
  font-size: var(--font-size-headline);
  line-height: 68px;
  letter-spacing: -1.92px;
  margin-bottom: 48px;
}

.description {
  font-size: var(--font-size-lg);
  font-weight: 500;
}

.happyPathHeadline {
  text-transform: uppercase;
  font-size: var(--font-size-sm);
}
