.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 24px 128px 24px;
  min-height: 100vh;
  max-width: 768px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  padding: 16px 0;
}

.headline {
  text-transform: uppercase;
  text-align: center;
  font-size: var(--font-size-headline);
  line-height: 68px;
  margin-bottom: 48px;
}

.description {
  font-size: var(--font-size-lg);
  font-weight: 400;
  margin: 0 0 36px;
  text-align: center;
}

.happyPathHeadline {
  text-transform: uppercase;
  font-size: var(--font-size-xs);
}

.happyPathCards {
  display: flex;
  flex-direction: column;
}
