.card {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-1);
  padding: 16px 20px;
  background: var(--color-white);
  box-shadow: var(--elevation-1);
}

.cardHeader {
  font-size: var(--font-size-md);
  margin: 0 0 8px 0;
}

.description {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-md);
  margin: 0;
}
